/* Start--------Navgigation Bar */
.nav-buttons {
    text-decoration: none;
}

.nav-buttons a {
    text-decoration: none;
    display: inline-block;
    color: #000;
}

.homepage .nav-logo {
    display: none;
}

.nav-logo {
    margin-left: 3rem;
}

.list {
    margin-right: 3rem;
}

.list a {
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
}

li:last-child {
    margin-right: 0;
}

li:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
}

li:hover:after {
    width: 100%;
    background: linear-gradient(90deg,
            rgba(142, 124, 230, 1) 12%,
            rgba(41, 41, 161, 0.7469362745098039) 50%,
            rgba(0, 225, 255, 1) 94%);
}

/* End--------Navgigation Bar */
/* Start of Mobile Navigation  */
.Navbarmobile {
    position: fixed;
    width: 50%;
    top: 0;
    right: 0;
    display: flex;
    float: right;
    background: #252e41;
    opacity: 0.8;
    height: 100vh;
    z-index: 1000;
    transition: 0.5s;
    transform: translate(100%, 0);
}

.Navbarmobileclose {
    position: fixed;
    width: 50%;
    top: 0;
    right: 0;
    display: flex;
    float: right;
    background: #252e41;
    opacity: 0.8;
    height: 100vh;
    z-index: 1000;
    transition: 1s;
    transform: translate(0%, 0);
}

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
    z-index: 3000;
    width: 33px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}


#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 12px;
}

#nav-icon1 span:nth-child(3) {
    top: 24px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.mobilelist {
    padding-top: 3rem;
    text-align: center;
}

.mobilelist .list-group-item {
    background-color: transparent;
    padding-top: 3rem;
    border: 0;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.mobilelist li a {
    text-decoration: none;
}

.mobilelist li:hover:after {
    width: 40%;
    background: linear-gradient(90deg,
            rgba(142, 124, 230, 1) 12%,
            rgba(41, 41, 161, 0.7469362745098039) 50%,
            rgba(0, 225, 255, 1) 94%);
}

/* End of Mobile Navigation  */